html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    z-index: 1;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
    font-weight: 800;
}

a {
    text-decoration: none;
    color: #000;
    margin-top: 0.5rem;
}

.header {
    background-color: #eae2d8;
    display: grid;
    grid-template-columns: 80% 10% 10%;
    height: 7.5rem;
    border-bottom: 3px solid;
}

.img {
    width: 25rem;
    height: 25rem;
    position: relative;
    top: -9rem;
}

.header-contact {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;;
    font-weight: 600;
    font-size: 150%;
}

.message-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7.5rem;
    height: 10rem;
    font-family: helvetica;
    font-size: 1.5rem;
    letter-spacing: 5px;
    z-index: 1;
}

.welcome-paragraph {
    position: relative;
    bottom: -2rem;
    letter-spacing: 7px;
}

.button-fixed {
    background-color: #CC2A4D;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    opacity: 70%;
    margin: 1rem;
}

.fixed {
    position: fixed;
    margin-top: 15rem;
    z-index: 1;
}

.icon-fixed {
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
}

video {
    object-fit: cover;
    width: 100%;
    height: 70vh;
    z-index: 1;
}

.second-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    height: 5rem;
    letter-spacing: 2.5px;
    font-family: 'Avenir';
    font-size: 2rem;
    border-bottom: 3px solid;


}

.second-message-black {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    height: 3rem;
    letter-spacing: 2.5px;
    font-family: 'Avenir';
    font-size: 1.5rem;
    color: white;
    background-color: black;

}

.message-welcome2 {
    display: grid;
    grid-template-columns: 50% 50%;   
    align-items: center;
    justify-content: center;
    padding: 10rem;
    height: 30rem;
    font-family: 'Avenir';
    font-size: 2rem;
    letter-spacing: 2.5px;
}

.conqueror {
    margin-left: 10rem;
}

ul {
    list-style-type: none;
  }
  
  ul li {
    padding-left: 2rem;
    background-image: url(./assets/c.png);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
    padding-left: 3rem; 

  }

li {    
    font-size: 2rem;
    margin: 2rem;
    font-family: 'Bogart';
    font-weight: 300;
    font-style: italic;
}

.sale {
    background-color: #dcddd3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.square-sale {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    width: 70rem;
    letter-spacing: 2.5px;
    font-family: 'Avenir';
    font-weight: 100 lighter;
}

.square-sale-paragraph1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 5px;
    } 
.square-sale-paragraph2 {
    font-size: 1rem; 
}

.input-sale {
    width: 39.1rem;
    height: 3rem;
    margin-top: 2rem;
}

.label-checkbox-sale {
    display: flex;
    align-items: center;
    width: 40rem;
    height: 3.5rem;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 200;
}

.input-checkbox-sale {
    width: 1.5rem;
    height: 1.5rem;
}

.accept {
    position: relative;
    left: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
}

input::placeholder {
    font-size: 1.5em;
    position: relative;
    left: 2rem;
    letter-spacing: 1px;
  }

.button-sale {
    width: 39.5rem;
    height: 3rem;
    margin-top: 2rem;  
    background-color: #CC2A4D; 
    color: white;
    border-radius: 7px;
    font-size: 1rem;
    letter-spacing: 1px;
    border: none;
}


.third-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    background-color: #dcddd3;
    border-top: 3px solid;
    border-bottom: 3px solid;
    font-size: 2rem;
    font-family: 'Avenir';
    height: 7.5rem;
    font-weight: 100;
}

.button-contact {
   background-color: #CC2A4D;
   color: white;
   margin: 5px;
   width: 10rem;
   height: 3.5rem;
   border-radius: 5px;
   font-size: 1rem;
   border: none;
   letter-spacing: 2px;

}

.section-final {
    display: grid;
    grid-template-columns: 35% 65%;
}

.img-final {
    width: 100%;
    height: 110vh;
}

.text-final {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 20rem;
    font-size: 1.7rem;
    font-family: 'Avenir';
    font-weight: 200;
}

.queremos {
    font-family: 'Avenir';
    font-size: 2rem;
    font-weight: 100;

}
@font-face {
    font-family: 'Rahayu';
    src: local("Rahayu"),
    url(./assets/Rahayu.ttf);
  }

.rahayu {
    font-family: 'rahayu';
    font-size: 2rem;
    position: relative;
    bottom: 2.5rem;
}

.red-color {
    color:#CC2A4D;
    font-size: 2rem;
}

.button-coffee {
    width: 17rem;
    height: 3rem;
    font-size: 1rem;
    margin-top: 4rem;
    border: none;
    letter-spacing: 0.2rem;
}

.map-section {
    display: grid;
    grid-template-columns: 35% 10% 55%;
    height: 35rem;
    background-color: #eae2d8;
    border-bottom: 3px solid;
    border-top: 3px solid;
}

.img-contacto {
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); /* IE 9 */
    -webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
    width: 7.5rem;
    height: 7.5rem;
    padding-left: 7.5rem;
    padding-bottom: 17.5rem;
    padding-right: 17.5rem;

  
}

.contactaConNosotros {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-top: 10rem;
    margin-left: 7.5rem;
    font-family: 'Avenir';
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 1.5rem;
}

.contactaConNosotros > p {
     margin: 1rem;
    
}

.mapa {
    width: 99.4%;
    height: 34.77rem;
    position: relative;
    bottom: 0.1mm;
    border-left: 3px solid;
}

.footer {
    display: flex;
    justify-content: space-between;
    height: 13rem;
    font-family: 'Avenir';
    font-size: 1.5rem;
}

.img-footer {
    object-fit: cover;
    object-position: 0rem 0rem;
    height: 13rem;
    width: 20rem;
}

.footer-rrss {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5rem;
    bottom: 50rem;
    left: 2.5rem;
    height: 5rem;
    font-family: 'Avenir';

}

.seguinos {
    position: relative;
    left: 2.5rem;
    bottom: 2rem;
}

.rrss {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    bottom: 2rem;
    font-family: 'Avenir';
    width: 50rem;
}

.dt {
    border-right: 3px solid;
    border-left: 3px solid;
    padding-left: 5rem;
}

.dtW {
    padding-left: 5rem;

}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
}

.modal__container {
    width: 90%;
    background-color: #fff;
    margin: auto;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal__title {
    font-size: 2.5rem;
}

.modal__paragraph {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-family: 'Avenir';
}

.modal__close {
    text-decoration: none;
    color: #fff;
    background-color: #CC2A4D;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover {
    color: #CC2A4D;
    background-color: #fff;
}

.p-lista {
    position: relative;
    left: 5rem;
    margin-left: 7.5rem;
}








/* queries */

@media (max-width: 600px) {
    html, body {
        overflow-x: hidden;
        max-width: 100%;

    }

    .header {
        height: 5rem;
    }

    .img {
        width: 10rem;
        height: 10rem;
        position: relative;
        top: -2.5rem;
    }

    a {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    .header-contact {
        justify-content: flex-end;
        padding-top: 1.2rem;
    }

    .message-welcome {
        padding: 2rem 1rem 2rem 3rem;
        font-size: 1rem;
        height: 7.5rem;
    }

    .welcome-paragraph {
        position: static;
        padding-left: 0;
        padding-right: 2rem;
        letter-spacing: 3px;
    }

    .fixed {
        display: none;
    }

    video {
        height: 40vh;
    }

    .second-message {
        padding: 3rem;
        font-size: 1.2rem;
        height: 0.1rem;
    }

    .sale {
        padding: 0;
        height: 30rem;
    }

    .square-sale {
        height: 25rem;
        width: 15rem;
    }

    .square-sale-paragraph1 {
        font-size: 0.7rem;
        margin: 0;
        position: static;
        padding: 0 2rem;
    }

    .square-sale-paragraph2 {
        font-size: 0.7rem;
        margin: 0;
        position: static;
        padding: 1rem 2rem;
    }

    .input-sale {
        width: 11rem;
        height: 2rem;
        margin: 0.5rem;
        padding: 0;
        position: static;
    }

    .label-checkbox-sale {
        width: 12rem;
        position: static;
        margin-top: 0;
    }

    .input-checkbox-sale {
        width: 1rem;
        height: 1rem;
        margin: 3rem 1rem 0 0;
    }

    .accept {
        position: static;
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
        width: 10rem;
        margin-top: 3rem;
    }

    input::placeholder {
        position: static;
        font-size: 1rem;
    }

    .button-sale {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
        margin-top: 4rem;
    }

    .modal__container {
        width: 20rem;
        height: 30rem;
        padding: 0;
    }

    .modal__title {
        font-size: 1rem;
    }

    .modal__paragraph {
        font-size: 0.6rem;
        margin: 0;
    }

    .modal__close {
        padding: 0.5em 1em;
    }

    .second-message-black {
        height: 1rem;
        padding: 3rem;
        font-size: 1rem;
    }

    .red-color {
        font-size: 1rem;
    }

    .message-welcome2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 0;
        height: 30rem;
        font-size: 1rem;
        position: static;
        padding: 0 0;
        margin: 0 15rem;
    }

    .conqueror {
        margin-left: 10rem;
        font-size: 1rem;
        width: 20rem;   
     }

     .lista {
        padding: 0 2rem;
        margin-left: 7.5rem;
    }

    ul li {
        background-position: 0 10px;
        background-size: 1rem 1rem;
        padding: 1rem 2rem; 
    
      }
    
    li {    
        font-size: 0.8rem;
        margin: 1rem;
        width: 15rem;
    }

    .third-message {
        font-size: 1.5rem;
        height: 2rem;
        padding: 5rem;
    }

    .queremos-conocerte {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .buttons-red {
        display: flex;
    }

    .button-contact {
        width: 5.5rem;
        height: 2rem;
        font-size: 0.7rem;
    }

    .section-final {
        display: flex;
        flex-direction: column;
        height: 25rem;
        padding: 2.5rem;
    }

    .img-final {
        display: none;
    }

    .text-final {
        padding: 0;
        font-size: 1rem;
    }

    .queremos {
        font-size: 1.5rem;
    }

    .rahayu {
        font-size: 1rem;
        position: static;
    }

    .red-color {
        font-size: 1rem;
    }

    .button-coffee {
        width: 10rem;
        height: 2rem;
        font-size: 0.5rem;
        margin-top: 1rem;
        letter-spacing: 0.1rem;
    }

    .map-section {
        display: flex;
        flex-direction: column;
        height: 34rem;
    }

    .contactaConNosotros {
        margin: 2rem 1rem;
        font-size: 1rem;
    }

    .img-contacto {
        display: none;
    }

    .mapa {
        width: 100%;
        height: 20rem;
        position: static;
    }

    .footer {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 2.5rem;
        font-size: 1rem;
        padding: 0;
    }

    .img-footer {
        position: static;
        object-position: 0rem 2rem;
        height: 7.5rem;
        width: 7.5rem;
        margin-top: 2.5rem;
        margin-left: 2rem;
    }

    .footer-rrss {
        position: static;
        height: 2rem;
        margin-left: 1.5rem;
    }

    .seguinos {
        position: static;
        max-width: fit-content;
        left: 1rem;
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .rrss {
        display: flex;
        flex-direction: column;
        position: static;
        width: 5rem;
        padding: 0;
    }

    .dt {
        padding-left: 0;
        border-right: 0;
        border-left: 0;
    }

    .dtW {
        padding-left: 0;
    }
}

/* 321px */
@media only screen and (min-device-width : 321px) and (max-device-width : 374px) {
    html, body {
        overflow-x: hidden;
        max-width: 100%;
        }
        .header {
            background-color: #eae2d8;
            display: grid;
            grid-template-columns: 3fr 1fr;
            height: 7.5rem;
            border-bottom: 3px solid;
          }
          
          .img {
            width: 115px;
            height: 115px;
            position: static;
          }
          
          .header-contact {
            font-size: 120%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 35px;
          }
          
          a {
            padding-right: 1rem;
        }

        .welcome-paragraph {
            position: static;
            letter-spacing: 7px;
            width: 14rem;
            padding-left: 2rem;
          }

          video {
            object-fit: contain;
            width: 20rem;
            height: 25rem;
          }

          .second-message {
            padding: 2rem;
            height: 7rem;
            font-size: 1.5rem;
        }

        .sale {
            background-color: #dcddd3;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 5rem;
            height: 35rem;
          }
          
          .square-sale {
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 35rem;
            width: 20rem;
            letter-spacing: 2.5px;
            font-family: "Avenir";
            font-weight: 100 lighter;
          }
          
          .square-sale-paragraph1 {
            font-size: 1rem;
            margin: 0;
            letter-spacing: 5px;
            margin: 2rem;
            position: relative;
            bottom: 100px;
          }
          .square-sale-paragraph2 {
            font-size: 1rem;
            margin-bottom: 0;
            padding-bottom: 0;
            margin: 2rem;
            position: relative;
            bottom: 140px;
          }
          
          .input-sale {
            width: 13rem;
            height: 2rem;
            margin-top: 1rem;
          }
          
          .label-checkbox-sale {
            display: flex;
            align-items: center;
            width: 13rem;
            height: 0;
            margin-top: 0;
            font-size: 1.5rem;
            font-weight: 200;
          }
          
          .input-checkbox-sale {
            width: 2.5rem;
            height: 2.5rem;
          }
          
          .accept {
            position: relative;
            left: 0;
            font-size: 0.9rem;
            padding: 1.5rem;
            font-weight: 200;
            width: 10rem;
            position: relative;
            right: 50rem;
          }
          
          input::placeholder {
            font-size: 1.5em;
            position: relative;
            letter-spacing: 1px;
          }
          
          .button-sale {
            width: 13rem;
            height: 3rem;
            margin-top: 0;
            background-color: #CC2A4D;
            color: white;
            border-radius: 7px;
            font-size: 1rem;
            letter-spacing: 1px;
            border: none;
          }
          
          .second-message-black {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: rem;
            height: 3rem;
            letter-spacing: 2.5px;
            font-family: 'Avenir';
            font-size: 1rem;
            color: white;
            background-color: black;
        
        }

        .message-welcome2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 20rem;
            font-family: "Avenir";
            font-size: 0.5rem;
            letter-spacing: 2.5px;
          }
          
          .conqueror {
            margin-right: 3rem;
            font-size: 2rem;
          }
          
          ul {
            list-style-type: none;
            padding: 2rem;
          }
          
          ul li {
            background-image: url(./assets/c.png);
            background-position: 0 0;
            background-size: 1.5rem 1.5rem;
            background-repeat: no-repeat;
            padding-left: 2rem;
          }
          
          li {
            font-size: 1.5rem;
            margin: 0rem;
            font-family: "Bogart";
            font-weight: 300;
            font-style: italic;
            margin-top: 1rem;
          }

          .third-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            background-color: #dcddd3;
            border-top: 3px solid;
            border-bottom: 3px solid;
            font-size: 2rem;
            font-family: 'Avenir';
            height: 15rem;
            font-weight: 100;
        }
   
   .third-message > p {
     padding-left: 5rem;
   }
        
        .button-contact {
           background-color: #CC2A4D;
           color: white;
           margin: 5px;
           width: 10rem;
           height: 5rem;
           border-radius: 10px;
           font-size: 1.5rem;
           border: none;
           letter-spacing: 2px;
        
        }
   
   .section-final {
     display: flex;
     flex-direction: column;
     height: 70rem;
   }
   
   .img-final {
       display: none;
   }
   
   .text-final {
       display: flex;
       flex-direction: column;
       align-items: left;
       justify-content: center;
       padding: 5rem;
       font-size: 1.7rem;
       font-family: 'Avenir';
       font-weight: 200;
   }
   
   .queremos {
       font-family: 'Avenir';
       font-size: 2rem;
       font-weight: 100;
   
   }
   
   @font-face {
       font-family: 'Rahayu';
       src: local("Rahayu"),
       url(./assets/Rahayu.ttf);
     }
   
   .rahayu {
       font-family: 'rahayu';
       font-size: 2rem;
       position: relative;
       bottom: 2.5rem;
   }
   
   .red-color {
       color:#CC2A4D;
       font-size: 2rem;
   }
   
   .button-coffee {
       width: 17rem;
       height: 3rem;
       font-size: 1rem;
       margin-top: 4rem;
       border: none;
       letter-spacing: 0.2rem;
   }

   .map-section {
    display: flex;
    flex-direction: column;
    height: 50rem;
    background-color: #eae2d8;
    border-bottom: 3px solid;
    border-top: 3px solid;
}

.contactaConNosotros {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 5rem 0;
    margin-left: 1.2rem;
    font-family: 'Avenir';
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 2rem;
}

.img-contacto {
  display: none;
}

.mapa {
    width: 99%;
    height: 150rem;
}

footer {
    display: flex;
    flex-direction: row;
    height: 5rem;
    font-family: "Avenir";
    font-size: 0.5rem;
    padding: 2rem;
  }
  
  .img-footer {
    margin-top: 7rem;
    margin-right: 2rem;
    object-fit: cover;
    object-position: -1rem 0rem;
    height: 7rem;
    width: 10rem;
  }
  
  .footer-rrss {
    display: flex;
    flex-direction: column;
    position: static;
    top: 5rem;
    bottom: 50rem;
    height: 5rem;
    font-family: "Avenir";
  }
  
  .seguinos {
    position: static;
    left: 0.5rem;
    font-size: 1.5rem;
  }
  
  .rrss {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    position: relative;
    bottom: 0.5rem;
    font-family: "Avenir";
    font-size: 1rem;
  }
  
  ul {
    padding: 0;
  }
  .dt {
    border-right: 0;
    border-left: 0;
    padding-left: 0;
    margin-top: 0.5rem;
  }
  
  .dtW {
    padding-left: 0;
    margin-top: 1rem;
  
  }
  
  
  footer.footer {
      height: 10rem;
  }
}

@media only screen and (max-width: 320px) {
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }
    
    .header {
        height: 5rem;
    }

    .img {
        width: 10rem;
        height: 10rem;
        position: relative;
        top: -2.5rem;
    }

    a {
        font-size: 1rem;
        padding-right: 0.5rem;
    }

    .header-contact {
        justify-content: flex-end;
        padding-top: 1.2rem;
    }

    .message-welcome {
        padding: 2rem;
        font-size: 0.7rem;
        height: 7.5rem;
    }

    .welcome-paragraph {
        position: static;
        letter-spacing: 4px;
        padding: 0;
    }

    .fixed {
        display: none;
    }

    video {
        height: 45vh;
    }

    .second-message {
        padding: 3rem;
        font-size: 1.2rem;
        height: 0.5rem;
    }

    .sale {
        padding: 0;
        height: 30rem;
    }

    .square-sale {
        height: 25rem;
        width: 15rem;
    }

    .square-sale-paragraph1 {
        font-size: 0.7rem;
        margin: 0;
        position: static;
        padding: 0 2rem;
    }

    .square-sale-paragraph2 {
        font-size: 0.7rem;
        margin: 0;
        position: static;
        padding: 1rem 2rem;
    }

    .input-sale {
        width: 11rem;
        height: 2rem;
        margin: 1rem;
        padding: 0;
        position: static;
    }

    .label-checkbox-sale {
        width: 12rem;
        position: static;
        margin-top: 0;
    }

    .input-checkbox-sale {
        width: 2rem;
        height: 2rem;
        margin: 0 0 0 0.5rem;
    }

    .accept {
        position: static;
        font-size: 0.7rem;
        margin: 0 0 0 1rem;
    }

    input::placeholder {
        position: static;
        font-size: 1rem;
    }

    .button-sale {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
        margin-top: 1rem;
    }

    .modal__container {
        width: 20rem;
        height: 30rem;
        padding: 0;
    }

    .modal__title {
        font-size: 1rem;
    }

    .modal__paragraph {
        font-size: 0.6rem;
        margin: 0;
    }

    .modal__close {
        padding: 0.5em 1em;
    }

    .second-message-black {
        height: 1rem;
        padding: 3rem;
        font-size: 1rem;
    }

    .red-color {
        font-size: 1rem;
    }

    .message-welcome2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 2.5rem;
        height: 30rem;
        font-size: 1rem;
        position: static;
        padding: 0 7.5rem;
        margin: 0;
    }

    .conqueror {
        margin-left: 8rem;
    }

    ul li {
        padding-left: 0.5rem;
        background-position: 0 0;
        background-size: 1rem 1rem;
        padding-left: 2rem; 
    
      }
    
    li {    
        font-size: 1rem;
        margin: 0.5rem;
    }

    .third-message {
        font-size: 1.5rem;
        height: 2rem;
        padding: 5rem;
    }

    .buttons-red {
        display: flex;
    }

    .button-contact {
        width: 5.5rem;
        height: 2rem;
        font-size: 0.7rem;
    }

    .section-final {
        display: flex;
        flex-direction: column;
        height: 30rem;
        padding: 2.5rem;
    }

    .text-final {
        padding: 0;
        font-size: 1rem;
    }

    .queremos {
        font-size: 1.5rem;
    }

    .rahayu {
        font-size: 1rem;
        position: static;
    }

    .red-color {
        font-size: 1rem;
    }

    .button-coffee {
        width: 10rem;
        height: 2rem;
        font-size: 0.5rem;
        margin-top: 1rem;
        letter-spacing: 0.1rem;
    }

    .map-section {
        display: flex;
        flex-direction: column;
        height: 34rem;
    }

    .contactaConNosotros {
        margin: 2rem 1rem;
        font-size: 1rem;
    }

    .img-contacto {
        display: none;
    }

    .mapa {
        width: 20rem;
        height: 15rem;
        position: static;
    }

    .footer {
        display: grid;
        grid-template-columns: 30% 70%;
        height: 2.5rem;
        font-size: 1rem;
    }

    .img-footer {
        position: static;
        object-position: 0rem 1rem;
        height: 7rem;
        width: 10rem;
        margin: 0 0 0 5rem;
    }

    .footer-rrss {
        position: static;
        height: 2rem;
        margin-left: 1.5rem;
    }

    .seguinos {
        position: static;
        max-width: fit-content;
        left: 1rem
    }

    .rrss {
        display: flex;
        flex-direction: column;
        position: static;
        width: 10rem;
        padding: 0;
    }

    .dt {
        padding-left: 0;
        border-right: 0;
        border-left: 0;
    }

    .dtW {
        padding-left: 0;
    }
}

/* 375px */
@media only screen and (min-width: 375px) and (max-width: 413px) {
    html, body {
        overflow-x: hidden;
        max-width: 100%;
    }

    .header {
        height: 5rem;
        grid-template-columns: 60% 20% 20%;
    }

    .img {
        width: 10rem;
        height: 10rem;
        position: relative;
        top: -2.5rem;
    }

    a {
        font-size: 1rem;
        margin-right: 1rem;
    }

    .header-contact {
        justify-content: flex-end;
        padding: 1.5rem;
        margin-left: 7rem;

    }

    .message-welcome {
        padding: 2rem;
        font-size: 0.8rem;
        height: 5rem;
        letter-spacing: 3px;
    }

    .welcome-paragraph {
        position: static;
        padding-left: 0;
        letter-spacing: 3px;
    }

    .fixed {
        display: none;
    }

    video {
        height: 45vh;
    }

    .second-message {
        padding: 3rem;
        font-size: 1.2rem;
        height: 0.5rem;
    }

    .sale {
        padding: 0;
        height: 30rem;
    }

    .square-sale {
        height: 25rem;
        width: 15rem;
    }

    .square-sale-paragraph1 {
        font-size: 0.7rem;
        margin: 0;
        position: static;
        padding: 0 2rem;
    }

    .square-sale-paragraph2 {
        font-size: 0.7rem;
        margin: 0;
        position: static;
        padding: 1rem 2rem;
    }

    .input-sale {
        width: 11rem;
        height: 2rem;
        margin: 0.5rem;
        padding: 0;
        position: static;
    }

    .label-checkbox-sale {
        width: 12rem;
        position: static;
        margin-top: 0;
    }

    .input-checkbox-sale {
        width: 1rem;
        height: 1rem;
        margin: 3rem 1rem 0 0;
    }

    .accept {
        position: static;
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
        width: 10rem;
        margin-top: 3rem;
    }

    input::placeholder {
        position: static;
        font-size: 1rem;
    }

    .button-sale {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
        margin-top: 4rem;
    }

    .modal__container {
        width: 20rem;
        height: 30rem;
        padding: 0;
    }

    .modal__title {
        font-size: 1rem;
    }

    .modal__paragraph {
        font-size: 0.6rem;
        margin: 0;
    }

    .modal__close {
        padding: 0.5em 1em;
    }

    .second-message-black {
        height: 1rem;
        padding: 3rem;
        font-size: 1rem;
    }

    .red-color {
        font-size: 1rem;
    }

    .message-welcome2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 0;
        height: 30rem;
        font-size: 1rem;
        position: static;
        padding: 0 0;
        margin: 0 10rem;
    }

    .conqueror {
        margin-left: 10rem;
        font-size: 1rem;
        width: 20rem;
    }

    .lista {
        padding: 0 2rem;
        margin-left: 5rem;
    }

    ul li {
        background-position: 0 10px;
        background-size: 1rem 1rem;
        padding: 1rem 2rem; 
    
      }
    
    li {    
        font-size: 0.8rem;
        margin: 1rem;
        width: 15rem;
    }

    .third-message {
        font-size: 1.5rem;
        height: 2rem;
        padding: 5rem;
    }

    .queremos-conocerte {
        padding-right: 0;
        padding-left: 2rem;
    }

    .buttons-red {
        display: flex;
    }

    .button-contact {
        width: 5.5rem;
        height: 2rem;
        font-size: 0.7rem;
    }

    .section-final {
        display: flex;
        flex-direction: column;
        height: 30rem;
        padding: 2.5rem;
    }

    .text-final {
        padding: 0;
        font-size: 1rem;
    }

    .queremos {
        font-size: 1.5rem;
        padding-left: 2.5rem;
    }

    .rahayu {
        font-size: 1rem;
        position: static;
    }

    .red-color {
        font-size: 1rem;
    }

    .button-coffee {
        width: 10rem;
        height: 2rem;
        font-size: 0.5rem;
        margin-top: 1rem;
        letter-spacing: 0.1rem;
    }

    .map-section {
        display: flex;
        flex-direction: column;
        height: 34rem;
    }

    .contactaConNosotros {
        margin: 2rem 1rem;
        font-size: 1rem;
    }

    .img-contacto {
        display: none;
    }

    .mapa {
        width: 100%;
        height: 20rem;
        position: static;
    }

    .footer {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 2.5rem;
        font-size: 1rem;
        padding: 0;
    }

    .img-footer {
        position: static;
        object-position: 0rem 2rem;
        height: 7.5rem;
        width: 7.5rem;
        margin-top: 2.5rem;
        margin-left: 2rem;
    }

    .footer-rrss {
        position: static;
        height: 2rem;
        margin-left: 1.5rem;
    }

    .seguinos {
        position: static;
        max-width: fit-content;
        left: 1rem;
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .rrss {
        display: flex;
        flex-direction: column;
        position: static;
        width: 5rem;
        padding: 0;
    }

    .dt {
        padding-left: 0;
        border-right: 0;
        border-left: 0;
    }

    .dtW {
        padding-left: 0;
    }
}
/* 414px */
@media only screen and (min-width: 414px) and (max-width:600px) {
    html, body {
        overflow-x: hidden;
        max-width: 100%;

    }

    .header {
        height: 5rem;
    }

    .img {
        width: 10rem;
        height: 10rem;
        position: relative;
        top: -2.5rem;
    }

    a {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    .header-contact {
        justify-content: flex-end;
        padding-top: 1.2rem;
    }

    .message-welcome {
        padding: 2rem 1rem 2rem 3rem;
        font-size: 1rem;
        height: 7.5rem;
    }

    .welcome-paragraph {
        position: static;
        padding-left: 0;
        padding-right: 2rem;
        letter-spacing: 3px;
    }

    .fixed {
        display: none;
    }

    video {
        height: 40vh;
    }

    .second-message {
        padding: 3rem;
        font-size: 1.2rem;
        height: 0.1rem;
    }

    .sale {
        padding: 0;
        height: 30rem;
    }

    .square-sale {
        height: 25rem;
        width: 15rem;
    }

    .square-sale-paragraph1 {
        font-size: 0.7rem;
        margin: 0;
        position: static;
        padding: 0 2rem;
    }

    .square-sale-paragraph2 {
        font-size: 0.7rem;
        margin: 0;
        position: static;
        padding: 1rem 2rem;
    }

    .input-sale {
        width: 11rem;
        height: 2rem;
        margin: 0.5rem;
        padding: 0;
        position: static;
    }

    .label-checkbox-sale {
        width: 12rem;
        position: static;
        margin-top: 0;
    }

    .input-checkbox-sale {
        width: 1rem;
        height: 1rem;
        margin: 3rem 1rem 0 0;
    }

    .accept {
        position: static;
        font-size: 0.7rem;
        margin: 0;
        padding: 0;
        width: 10rem;
        margin-top: 3rem;
    }

    input::placeholder {
        position: static;
        font-size: 1rem;
    }

    .button-sale {
        width: 7.5rem;
        height: 2.5rem;
        font-size: 1rem;
        margin-top: 4rem;
    }

    .modal__container {
        width: 20rem;
        height: 30rem;
        padding: 0;
    }

    .modal__title {
        font-size: 1rem;
    }

    .modal__paragraph {
        font-size: 0.6rem;
        margin: 0;
    }

    .modal__close {
        padding: 0.5em 1em;
    }

    .second-message-black {
        height: 1rem;
        padding: 3rem;
        font-size: 1rem;
    }

    .red-color {
        font-size: 1rem;
    }

    .message-welcome2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 0;
        height: 30rem;
        font-size: 1rem;
        position: static;
        padding: 0 0;
        margin: 0 10rem;
    }

    .conqueror {
        margin-left: 10rem;
        font-size: 1rem;
        width: 20rem;   
     }

     .lista {
        padding: 0 2rem;
        margin-left: 7.5rem;
    }

    ul li {
        background-position: 0 10px;
        background-size: 1rem 1rem;
        padding: 1rem 2rem; 
    
      }
    
    li {    
        font-size: 0.8rem;
        margin: 1rem;
        width: 15rem;
    }

    .third-message {
        font-size: 1.5rem;
        height: 2rem;
        padding: 5rem;
    }

    .queremos-conocerte {
        padding: 0 0 0 3rem;
    }

    .buttons-red {
        display: flex;
    }

    .button-contact {
        width: 5.5rem;
        height: 2rem;
        font-size: 0.7rem;
    }

    .section-final {
        display: flex;
        flex-direction: column;
        height: 25rem;
        padding: 2.5rem;
    }

    .text-final {
        padding: 0;
        font-size: 1rem;
    }

    .queremos {
        font-size: 1.5rem;
    }

    .rahayu {
        font-size: 1rem;
        position: static;
    }

    .red-color {
        font-size: 1rem;
    }

    .button-coffee {
        width: 10rem;
        height: 2rem;
        font-size: 0.5rem;
        margin-top: 1rem;
        letter-spacing: 0.1rem;
    }

    .map-section {
        display: flex;
        flex-direction: column;
        height: 34rem;
    }

    .contactaConNosotros {
        margin: 2rem 1rem;
        font-size: 1rem;
    }

    .img-contacto {
        display: none;
    }

    .mapa {
        width: 100%;
        height: 20rem;
        position: static;
    }

    .footer {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 2.5rem;
        font-size: 1rem;
        padding: 0;
    }

    .img-footer {
        position: static;
        object-position: 0rem 2rem;
        height: 7.5rem;
        width: 7.5rem;
        margin-top: 2.5rem;
        margin-left: 2rem;
    }

    .footer-rrss {
        position: static;
        height: 2rem;
        margin-left: 1.5rem;
    }

    .seguinos {
        position: static;
        max-width: fit-content;
        left: 1rem;
        font-size: 1rem;
        margin: 1rem 0 0 0;
    }

    .rrss {
        display: flex;
        flex-direction: column;
        position: static;
        width: 5rem;
        padding: 0;
    }

    .dt {
        padding-left: 0;
        border-right: 0;
        border-left: 0;
    }

    .dtW {
        padding-left: 0;
    }
}